<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="Log"/>
    <add key="DatabaseType" value="SQLServer"/>
    <add key="DatabaseName" value="Test"/>
    <add key="RegisterCode" value="51ab7b5a4d37e51400d8f1a82ce700a7"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Prospect;User Id=sa;Password=Prospect2013" name="Product"/>
    <add connectionString="Data Source=.\SQLSERVER2008R2;Initial Catalog=Prospect;User Id=sa;Password=dectech" name="Test"/>
  </connectionStrings>
<startup>
  
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
